
# .v4p backup files
*~.xml

_bkp&test/
help/assets/Models/bkp
lib/oldVersions

# Dynamic plugins .dll
bin/
obj/
.vs/
#lib/
runtimes/
packages/
lib/net461/
appveyor/nuget.exe
/lib/net472/

/.vl/*

#models v9 v11
help/assets/Models/yolov9*.onnx
help/assets/Models/yolov11*.onnx

#assets/